@using Northwind.Admin.Models.ViewModel
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
</div>

@using (Html.BeginForm("Login", "Auth", FormMethod.Post, htmlAttributes: new { @class = "user" }))
{

    <div class="form-group">
        @Html.TextBoxFor(x => x.Email, htmlAttributes: new { @class = "form-control form-control-user", placeholder = nameof(Model.Email) })
        @Html.ValidationMessageFor(x => x.Email, "", htmlAttributes: new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(x => x.Password, htmlAttributes: new { @class = "form-control form-control-user", placeholder = nameof(Model.Password), type = "password" })
        @Html.ValidationMessageFor(x => x.Password, "", htmlAttributes: new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox small">
            @Html.CheckBoxFor(x => x.RememberMe, htmlAttributes: new { @class = "custom-control-input" })
            @Html.LabelFor(x => x.RememberMe, htmlAttributes: new { @class = "custom-control-label" })
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        Login
    </button>
    <hr />
}
<div class="text-center">
    <a class="small" href="#">Forgot Password?</a>
</div>
<div class="text-center">
    <a class="small" href="/auth/register">Don't have an account? Register now!</a>
</div>